
/* ----------------------------------------------Allgemeines------------------------------------- */
/* Um möglichst alles in allen Browsern gleich auszusehen zu lassen */

html{overflow-y:scroll;}
body{margin:0; padding:0; font-size:13px; font-family: 'Open Sans', sans-serif; color:#000; background-color:#FFF;}

.justify{text-align:justify;}
.bold {font-weight:bold;}
.center{text-align:center;}
img.center {margin-left: auto; margin-right: auto; display: block; }
.right{text-align:right;}
.nostart{margin:0; padding:0; list-style-type:none;}
.italic {font-style:italic;}

.text-small {font-size: 0.8em; line-height: 0.8em;}
.text-medium {font-size: 1.2em; line-height: 1.3em;}
.text-large {font-size: 1.6em; line-height: 1.6em;}

.clear{clear:both;}
br.clear{clear:both; margin-top:-15px;}

a{outline:none; text-decoration:none;color:blue;}
a:hover{text-decoration:underline;}

.fl_left, .imgl{float:left;}
.fl_right, .imgr{float:right;}

img{margin:0; padding:0; border:0;}


form, fieldset, legend{margin:0; padding:0; border:none;}
legend{display:none;}

ul {list-style: none; padding: 0;}

table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}
